---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import { getPosts } from "../utils/sanity";

const posts = await getPosts();
---

<Layout title="Life and Times of Some Guy">
  <!-- <Welcome></Welcome> -->
   <p class="header">
    This is my blog. Read some of my stuff. 
   </p>
   <!-- <header class="header">Blog</header> -->
  <section>
    {posts.map((post) => <Card post={post} />) }
  </section>
</Layout>

<style>
  .header{
    font-size:large;
    margin-bottom: 1ch;
  }
</style>